.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.play{
  font-family: cursive;
  font-weight: bold;
  color: #4ECCA3;
  font-size: 3rem;
  background-color: #aa3a3a;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 5%;
  margin: 2% 30%;
}
.dice {
  text-align: center;
  display: inline-block;
  padding: 2%;

}

body {
  background-color: #393E46;

}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
hr {
  border: 1px solid #EEEEEE;

}


img {
  width: 80%;
}

footer {

  margin: 2% 0 2%;
  color: #EEEEEE;
  text-align: center;


}
